<!DOCTYPE html>
<html>
	<head>
		<style>
			.header {
				margin: auto;
				max-width: 600px;
				margin-top: 100px;
			}
			.red {
				color: #fa5291;
			}
			.green {
				color: #31d9a4;
			}
		</style>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<div class="homepage">
			<div class="header">
				<h1>
					<span class="red">40%</span> of Twitter messages are just ‘babble’. <span class="green">60%</span>
					isn’t.
				</h1>
				<h2>
					Uncover the <span class="green">real data</span> and filter the <span class="red">garbage</span>.
				</h2>
			</div>
			<div class="cards stats">
				<div class="card">
					<div class="tickerInfo">
						<h2 class="ticker">AAPL</h2>
						<h4 class="price">$540</h4>
					</div>
					<div class="smallGraph"><canvas id="myChart"></canvas></div>
				</div>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
		<script>
			var data = [
				{ x: "2020-08-30T17:00:00.000Z", y: "125.3000" },
				{ x: "2020-08-30T16:55:00.000Z", y: "125.3000" },
				{ x: "2020-08-30T16:50:00.000Z", y: "125.0700" },
				{ x: "2020-08-30T16:45:00.000Z", y: "125.3100" },
				{ x: "2020-08-30T16:35:00.000Z", y: "125.0700" },
				{ x: "2020-08-30T16:30:00.000Z", y: "125.0700" },
				{ x: "2020-08-30T16:25:00.000Z", y: "125.0700" },
				{ x: "2020-08-30T16:20:00.000Z", y: "125.0700" },
				{ x: "2020-08-30T16:15:00.000Z", y: "125.0700" },
				{ x: "2020-08-30T16:05:00.000Z", y: "125.0700" },
				{ x: "2020-08-30T16:00:00.000Z", y: "125.0700" },
				{ x: "2020-08-30T15:55:00.000Z", y: "125.0900" },
				{ x: "2020-08-30T15:50:00.000Z", y: "125.1000" },
				{ x: "2020-08-30T15:45:00.000Z", y: "125.1000" },
				{ x: "2020-08-30T15:40:00.000Z", y: "125.1500" },
				{ x: "2020-08-30T15:35:00.000Z", y: "125.2500" },
				{ x: "2020-08-30T15:30:00.000Z", y: "125.2100" },
				{ x: "2020-08-30T15:25:00.000Z", y: "125.1900" },
				{ x: "2020-08-30T15:20:00.000Z", y: "125.1800" },
				{ x: "2020-08-30T15:15:00.000Z", y: "125.2300" },
				{ x: "2020-08-30T15:10:00.000Z", y: "125.1500" },
				{ x: "2020-08-30T15:05:00.000Z", y: "125.0050" },
				{ x: "2020-08-30T15:00:00.000Z", y: "124.9800" },
				{ x: "2020-08-30T14:55:00.000Z", y: "124.9500" },
				{ x: "2020-08-30T14:50:00.000Z", y: "124.8700" },
				{ x: "2020-08-30T14:45:00.000Z", y: "124.8150" },
				{ x: "2020-08-30T14:40:00.000Z", y: "124.9000" },
				{ x: "2020-08-30T14:35:00.000Z", y: "124.9350" },
				{ x: "2020-08-30T14:30:00.000Z", y: "124.9211" },
				{ x: "2020-08-30T14:25:00.000Z", y: "125.0181" },
				{ x: "2020-08-30T14:20:00.000Z", y: "124.9700" },
				{ x: "2020-08-30T14:15:00.000Z", y: "124.8900" },
				{ x: "2020-08-30T14:10:00.000Z", y: "124.9704" },
				{ x: "2020-08-30T14:05:00.000Z", y: "124.9750" },
				{ x: "2020-08-30T14:00:00.000Z", y: "124.9130" },
				{ x: "2020-08-30T13:55:00.000Z", y: "124.8800" },
				{ x: "2020-08-30T13:50:00.000Z", y: "124.8650" },
				{ x: "2020-08-30T13:45:00.000Z", y: "124.9100" },
				{ x: "2020-08-30T13:40:00.000Z", y: "124.8500" },
				{ x: "2020-08-30T13:35:00.000Z", y: "124.8700" },
				{ x: "2020-08-30T13:30:00.000Z", y: "124.8400" },
				{ x: "2020-08-30T13:25:00.000Z", y: "125.0300" },
				{ x: "2020-08-30T13:20:00.000Z", y: "125.0700" },
				{ x: "2020-08-30T13:15:00.000Z", y: "125.0200" },
				{ x: "2020-08-30T13:10:00.000Z", y: "125.0300" },
				{ x: "2020-08-30T13:05:00.000Z", y: "124.9400" },
				{ x: "2020-08-30T13:00:00.000Z", y: "124.9900" },
				{ x: "2020-08-30T12:55:00.000Z", y: "124.9273" },
				{ x: "2020-08-30T12:50:00.000Z", y: "124.9200" },
				{ x: "2020-08-30T12:45:00.000Z", y: "124.7900" },
				{ x: "2020-08-30T12:40:00.000Z", y: "124.6860" },
				{ x: "2020-08-30T12:35:00.000Z", y: "124.7000" },
				{ x: "2020-08-30T12:30:00.000Z", y: "124.7500" },
				{ x: "2020-08-30T12:25:00.000Z", y: "124.7500" },
				{ x: "2020-08-30T12:20:00.000Z", y: "124.8500" },
				{ x: "2020-08-30T12:15:00.000Z", y: "124.7478" },
				{ x: "2020-08-30T12:10:00.000Z", y: "124.5900" },
				{ x: "2020-08-30T12:05:00.000Z", y: "124.4900" },
				{ x: "2020-08-30T12:00:00.000Z", y: "124.4600" },
				{ x: "2020-08-30T11:55:00.000Z", y: "124.4100" },
				{ x: "2020-08-30T11:50:00.000Z", y: "124.4484" },
				{ x: "2020-08-30T11:45:00.000Z", y: "124.4000" },
				{ x: "2020-08-30T11:40:00.000Z", y: "124.3200" },
				{ x: "2020-08-30T11:35:00.000Z", y: "124.3000" },
				{ x: "2020-08-30T11:30:00.000Z", y: "124.4150" },
				{ x: "2020-08-30T11:25:00.000Z", y: "124.4300" },
				{ x: "2020-08-30T11:20:00.000Z", y: "124.5033" },
				{ x: "2020-08-30T11:15:00.000Z", y: "124.5200" },
				{ x: "2020-08-30T11:10:00.000Z", y: "124.4850" },
				{ x: "2020-08-30T11:05:00.000Z", y: "124.4400" },
				{ x: "2020-08-30T11:00:00.000Z", y: "124.4500" },
				{ x: "2020-08-30T10:55:00.000Z", y: "124.4900" },
				{ x: "2020-08-30T10:50:00.000Z", y: "124.5500" },
				{ x: "2020-08-30T10:45:00.000Z", y: "124.4800" },
				{ x: "2020-08-30T10:40:00.000Z", y: "124.4550" },
				{ x: "2020-08-30T10:35:00.000Z", y: "124.3800" },
				{ x: "2020-08-30T10:30:00.000Z", y: "124.4000" },
				{ x: "2020-08-30T10:25:00.000Z", y: "124.5400" },
				{ x: "2020-08-30T10:20:00.000Z", y: "124.6050" },
				{ x: "2020-08-30T10:15:00.000Z", y: "124.4300" },
				{ x: "2020-08-30T10:10:00.000Z", y: "124.5048" },
				{ x: "2020-08-30T10:05:00.000Z", y: "124.6000" },
				{ x: "2020-08-30T10:00:00.000Z", y: "124.7700" },
				{ x: "2020-08-30T09:55:00.000Z", y: "124.9324" },
				{ x: "2020-08-30T09:50:00.000Z", y: "124.8800" },
				{ x: "2020-08-30T09:45:00.000Z", y: "124.4800" },
				{ x: "2020-08-30T09:40:00.000Z", y: "124.3650" },
				{ x: "2020-08-30T09:35:00.000Z", y: "124.3649" },
				{ x: "2020-08-30T09:00:00.000Z", y: "124.8300" },
				{ x: "2020-08-30T08:30:00.000Z", y: "124.6500" },
				{ x: "2020-08-30T07:30:00.000Z", y: "125.2000" },
				{ x: "2020-08-29T20:00:00.000Z", y: "124.7600" },
				{ x: "2020-08-29T19:35:00.000Z", y: "124.7500" },
				{ x: "2020-08-29T19:10:00.000Z", y: "124.7500" },
				{ x: "2020-08-29T18:45:00.000Z", y: "124.7500" },
				{ x: "2020-08-29T18:25:00.000Z", y: "124.7000" },
				{ x: "2020-08-29T16:45:00.000Z", y: "124.6700" },
				{ x: "2020-08-29T16:40:00.000Z", y: "124.6700" },
				{ x: "2020-08-29T16:35:00.000Z", y: "124.6500" },
				{ x: "2020-08-29T16:20:00.000Z", y: "124.6500" },
			];
			var ctx = document.getElementById("myChart").getContext("2d");
			var chart = new Chart(ctx, {
				type: "line",
				data: {
					datasets: [
						{
							data: data,
							borderColor: "white",
							backgroundColor: "transparent",
							pointBorderColor: "rgba(0,0,0,0)",
						},
					],
				},
				options: {
					maintainAspectRatio: false,
					scales: {
						xAxes: [
							{
								type: "time",
								position: "bottom",
								gridLines: {
									display: false,
								},
								ticks: {
									fontColor: "rgba(255,255,255,0.6)",
								},
							},
						],
						yAxes: [
							{
								gridLines: {
									display: true,
								},
								ticks: {
									fontColor: "rgba(255,255,255,0.6)",
								},
							},
						],
					},
					legend: {
						display: false,
					},
				},
			});
		</script>
	</body>
</html>
