<!DOCTYPE html>
<html>
	<head>
		<style>
			.header {
				margin: auto;
				max-width: 600px;
				margin-top: 100px;
			}
			.red {
				color: #fa5291;
			}
			.green {
				color: #31d9a4;
			}
		</style>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<div class="homepage">
			<div class="header">
				<h1>
					<span class="red">40%</span> of Twitter messages are just ‘babble’. <span class="green">60%</span>
					isn’t.
				</h1>
				<h2>
					Uncover the <span class="green">real data</span> and filter the <span class="red">garbage</span>.
				</h2>
			</div>
			<div class="cards stats" id="cards"></div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
		<script>
			let data = <%- JSON.stringify(homepageCache) %>;
			console.log(data);
		</script>
		<script>
			generateGraphs();
			generateData();

			function generateGraphs() {
				let graphData = "";

				let ticks = Object.keys(data);
				ticks.forEach((tick) => {
					let template = `<div class="card">
								<div class="tickerInfo">
									<h2 class="ticker">${tick}</h2>
									<h4 class="price">${data[tick][0]["y"]}</h4>
								</div>
								<div class="smallGraph"><canvas id="${tick}data"></canvas></div>
			        </div>`;
					graphData += template;
				});

				document.getElementById("cards").innerHTML = graphData;
			}

			function generateData() {
				let ticks = Object.keys(data);

				ticks.forEach((tick) => {
					var ctx = document.getElementById(`${tick}data`).getContext("2d");
					var chart = new Chart(ctx, {
						type: "line",
						data: {
							datasets: [
								{
									data: data[tick],
									borderColor: "white",
									backgroundColor: "transparent",
									pointBorderColor: "rgba(0,0,0,0)",
								},
							],
						},
						options: {
							maintainAspectRatio: false,
							scales: {
								xAxes: [
									{
										type: "time",
										position: "bottom",
										gridLines: {
											display: false,
										},
										ticks: {
											fontColor: "rgba(255,255,255,0.6)",
										},
									},
								],
								yAxes: [
									{
										gridLines: {
											display: true,
										},
										ticks: {
											fontColor: "rgba(255,255,255,0.6)",
										},
									},
								],
							},
							legend: {
								display: false,
							},
						},
					});
				});
			}
		</script>
	</body>
</html>
