@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	background-color: #f4f7f9;
}

.header {
	background-color: white;
	height: 5vh;
}

.search {
	height: 99%;
	width: 99%;
	border: none;
	font-size: 2em;
	font-family: "Lato", sans-serif;
	outline: none;
	text-align: center;
}

.search::placeholder {
	color: rgba(0, 0, 0, 0.1);
	font-style: italic;
}

.app {
	background-color: #f4f7f9;
	height: 95vh;
}

.stats {
	display: flex;
	flex-direction: row;
	padding-top: 20px;
}

.stats .card {
	color: white;
	width: 20%;
	width: calc(20% - 96px);
	margin: 15px;
}

.card {
	border-radius: 10px;
	padding: 20px 30px;
}

.stats .card:nth-child(1) {
	background-color: #ff5b00;
	margin-left: 30px;
}
.stats .card:nth-child(2) {
	background-color: #8f83ff;
}
.stats .card:nth-child(3) {
	background-color: #31d9a4;
}
.stats .card:nth-child(4) {
	background-color: #fa5291;
}
.stats .card:nth-child(5) {
	background-color: #22a8ee;
}

.card-title,
.card-subtitle {
	margin: 0;
	font-weight: bold;
}

.small-title,
.card-subtitle {
	font-size: 0.7em;
}

.panel {
	display: flex;
	flex-direction: row;
	padding: 20px 30px;
}
.graph {
	width: 60%;
	width: calc(60% - 20px);
	margin-right: 30px;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

#myChart {
	max-height: 70vh;
}

.info {
	width: 40%;
}

.info .card {
	background-color: white;
}

.name-val {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px 0;
	border-bottom: 2px solid #eeeeee;
}

.info-name {
	color: #c1c1c1;
	font-size: 1.2em;
	margin-top: 3px;
}

.info-val {
	font-size: 1.35em;
}

.cards {
	display: flex;
	max-width: 1000px;
	margin: auto;
}

.cards .card {
	background-color: red;
	width: 150px;
	height: 150px;
}

.tickerInfo {
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
}

.tickerInfo h2 {
	margin: 0;
}
.tickerInfo h4 {
	margin: 3px;
}

.homepage .header {
	height: auto;
	background: transparent;
}

.smallGraph {
	width: calc(100% + 40px);
	height: 85%;
	margin-left: -20px;
	margin-top: 5px;
}
